<!doctype html>
<html lang="en" ng-app="musicgearApp">
<head>
  <meta charset="utf-8">
  <title>Music Gear Selector</title>
  <meta name="description" content="A single page responsive music gear selector web app built with AngularJS." />
  <meta name="viewport" content="width=device-width" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/normalize.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="MusicItemCtrl">
  <header>
    <h1>MUSIC GEAR SELECTOR</h1>
    <nav>
      <ul>
        <li><a href="" ng-click="filters.category = 'Guitars'">Guitars</a></li>
        <li><a href="" ng-click="filters.category = 'Amps'">Amps</a></li>
        <li><a href="" ng-click="filters.category = 'Effects'">Effects</a></li>
        <li><a href="" ng-click="filters.category = 'Strings'">Strings</a></li>
        <li><a href="" ng-click="filters.category = ''">All Items</a></li>
      </ul>
    </nav><!-- end nav -->
  </header><!-- end header -->
  <section>
    <div ng-repeat="item in items | filter:filters">
      <img ng-src="{{item.imageUrl}}" alt="{{item.name}}">
      <h2>{{item.name}}</h2>
      <p>Condition: {{item.condition}}</p>
      <p>{{item.price}}</p>
    </div><!-- end div -->
  </section><!-- end section -->
</body>
</html>