//Variables
$break-med: 700px
$break-small: 480px
$container-max: 960px
$default-gray: #e2e2e2
$default-red: #F00
$border-thin: 1px solid #000
$border-med: 5px solid $default-gray
$border-thick: 10px solid $default-gray

//Mixins
@mixin transition($duration)
  -webkit-transition: $duration
  -moz-transition: $duration
  -ms-transition: $duration
  -o-transition: $duration
  transition: $duration

body
  font-family: 'Open Sans', sans-serif

header
  text-align: center

  h1
    font-size: 30px
    margin: 0
    padding: 10px
    display: inline-block
    @media screen and (max-width: $break-med)
      font-size: 26px
    @media screen and (max-width: $break-small)
      font-size: 20px
      padding: 5px

  p
    display: inline-block
    position: relative
  
  nav
    margin: 0 auto 20px
    background: #000
    width: 100%
    padding: 20px 0
    border-top: $border-thick
    border-bottom: $border-thick

    ul
      list-style: none
      margin: 0
      padding: 0

      li
        display: inline-block
      
        a
         margin: 0 15px
         text-decoration: none
         color: #FFF
         font-size: 20px
         text-transform: uppercase
         cursor: pointer
         @media screen and (max-width: $break-med)
           font-size: 16px
           margin: 0 10px
         @media screen and (max-width: $break-small)
           font-size: 12px
           margin: 0 5px

         &:hover
           @include transition(.4s)
           color: $default-red

         &:focus,
         &.active
           outline: none

         &.active
           color: $default-red

    label, p
      font-size: 14px
      color: #FFF
      display: inline-block
      text-transform: uppercase
      @media screen and (max-width: $break-small)
        font-size: 12px
    
    label
      margin: 10px 0 0
      @media screen and (max-width: $break-small)
        font-size: 12px

      input
        border: $border-med
        padding: 3px

    p
      margin: 0 0 0 30px
      @media screen and (max-width: $break-small)
        margin: 0 0 0 15px

section
  max-width: $container-max
  min-height: 400px
  margin: 20px auto 100px auto
  text-align: center
  background: $default-gray
  padding: 20px
  border-top: $border-thin
  border-bottom: $border-thin

  div
    max-width: 280px
    display: inline-block
    margin: 10px
    padding: 0 0 10px
    background: #FFF
    border: 10px solid #FFF
    text-align: left
    @include transition(.4s)
    @media screen and (max-width: $break-small)
      max-width: 260px
  
    h2
      font-size: 16px
      padding: 0
      margin: 5px 0 0
      font-weight: normal
      @media screen and (max-width: $break-small)
        font-size: 14px

    p
      font-size: 14px
      margin: 0
      @media screen and (max-width: $break-small)
        font-size: 12px

    h2, p
      color: #FFF
      line-height: 1.2
      color: #000

    img
      @media screen and (max-width: $break-small)
        max-width: 250px
    
  input
    margin: 10px 0 0
    background: #FFF
    border: $border-thin
    font-size: 14px
    @media screen and (max-width: $break-small)
      font-size: 12px

    &:hover
      color: $default-red
      @include transition(.4s)

    &:focus,
    &.active
      outline: 0
