//Variables
$break-med: 700px
$break-small: 480px
$container-max: 960px
$default-gray: #e2e2e2

//Mixins
@mixin transition($duration)
  -webkit-transition: $duration
  -moz-transition: $duration
  -ms-transition: $duration
  -o-transition: $duration
  transition: $duration

body
  font-family: 'Open Sans', sans-serif

header
  text-align: center

  h1
    font-size: 30px
    margin: 0
    padding: 10px
    @media screen and (max-width: $break-med)
      font-size: 26px
    @media screen and (max-width: $break-small)
      font-size: 20px
      padding: 5px
  
  nav
    margin: 0 auto 20px
    background: #000
    width: 100%
    padding: 20px 0
    border-top: 10px solid $default-gray
    border-bottom: 10px solid $default-gray

    ul
      list-style: none
      margin: 0
      padding: 0

      li
        display: inline-block
      
        a
         margin: 0 15px
         text-decoration: none
         color: #FFF
         font-size: 20px
         text-transform: uppercase
         cursor: pointer
         @media screen and (max-width: $break-med)
           font-size: 16px
           margin: 0 10px
         @media screen and (max-width: $break-small)
           font-size: 12px
           margin: 0 5px

         &:hover
           @include transition(.4s)
           color: #F00

         &:focus,
         &.active
           outline: none

         &.active
           color: #F00
    
    label
      font-size: 16px
      color: #FFF
      margin: 10px 0 0
      display: block
      text-transform: uppercase
      @media screen and (max-width: $break-small)
        font-size: 14px

      input
        border: 1px solid #FFF
        padding: 3px

section
  max-width: $container-max
  min-height: 400px
  margin: 0 auto 100px auto
  padding: 20px 0
  text-align: center
  background: $default-gray
  padding: 20px
  border-top: 1px solid #000
  border-bottom: 1px solid #000

  div
    max-width: 280px
    display: inline-block
    margin: 10px
    padding: 0 0 10px
    background: #FFF
    border: 10px solid #FFF
    @media screen and (max-width: $break-small)
      max-width: 260px
  
    h2
      font-size: 16px
      padding: 0
      margin: 5px 0 0
      font-weight: normal
      @media screen and (max-width: $break-small)
        font-size: 14px

    p
      font-size: 14px
      margin: 0
      @media screen and (max-width: $break-small)
        font-size: 12px

    h2, p
      text-align: left
      color: #FFF
      line-height: 1.2
      color: #000

    img
      border: 1px solid $default-gray
      @media screen and (max-width: $break-small)
        max-width: 250px